.App{
  padding: 15px;
}
//Starting product input file design 
.file-input {
  display: inline-block;
  text-align: left;
  background: #6366F1;
  padding: 11px;
  width: 100%;
  color: white;
  position: relative;
  border-radius: 3px;
}
//End product input file design.
.dateController{
  display: flex;
  gap: 20px;
}
.chatCase{
  display: flex;
  justify-content: space-between;
}
.secondperson{
  padding-top: 20px;
}
@Media only screen and (min-width: 200px) and (max-width:800px){
  .dateController{
    display: unset;
    gap: 20px;
  }
  .one,.two,.three{
    padding-bottom: 10px;
  }
  .two label{
    padding-right: 20px;
  }
}