.App{
  padding: 15px;
}
//Starting product input file design 
.file-input {
  display: inline-block;
  text-align: left;
  background: #6366F1;
  padding: 11px;
  width: 100%;
  color: white;
  position: relative;
  border-radius: 3px;
}


//End product input file design.